body{
    /* background-color: rgb(0, 0, 0); */
    color: rgb(0, 0, 0) !important;
    background-image: url('../resources/s-o-c-i-a-l-c-u-t-Ts5lfuC7pDw-unsplash.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

main{
    width:100%;
    height: 50%;
}

.navbar {
    background-color: #000000 !important;
    color: white !important;
    height: 80px; 
}

.navbar .nav-link {
    color: #ffffff !important;
}

.navbar-nav .nav-item {
  display: flex;
  align-items: center;
}

.card{
    margin: 0 auto;
    margin-top: 7%;
    width: 500px !important;
    border: 2px solid #000000; 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    margin-bottom: 350px;
   
    overflow: hidden;     
 
}

#heading{
    margin-bottom: 30px !important;
    
}

.card-body{
    background-color: rgb(255, 255, 255);
    padding: 50px;
    text-align: center;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    
}

.form-control{
    border:none !important;
    border-bottom: 1px solid black !important;
    background: none;
    width:250px;
    text-align: center;
    margin: 0 auto;
}

.form-control,
.form-control:focus {
    border: none;                 
    border-bottom: 1px solid black; 
    outline: none;                
    background: none;   
    outline: none;
    box-shadow: none;         
}

button{
    margin: 0 auto;
    text-align: center;
    color: black;
}

.btn.btn-primary{
  
    background: none;
    width:250px;
    margin: 0 auto;
    text-align: center;
    border: 1px solid black;  
    border-style: solid;
    color: black;
    margin-top: 30px;
}

/*/*Footer/*/



.footer {
  background: #000;
  padding: 40px 20px;
  margin-top: 50px;
}

.footer {

  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}


.footer-content {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  max-width: 1440px;
  margin: auto;
  flex-wrap: wrap;
}

.footer-logo {
  width: 160px;
}

.footer-title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 16px;
  color: white;
}

.social-links,
.contact-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.social-link,
.contact-item {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 15px;
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.social-link:hover {
  color: #f0f0f0;
}

.social-icon,
.contact-icon {
  width: 24px;
  height: 24px;
}

.address-section {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
}

.address-icon {
  width: 26px;
  height: 40px;
}

.address-text {
  font-size: 18px;
  font-weight: 700;
}